<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-image-checkbox.css">

    <title>Bootstrap Image Checkbox</title>

    
    
</head>
<body>

    

    <div class="row">
        <div class="col-md-3">
            <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" id="ck1a">
                <label class="custom-control-label" for="ck1a">
                    <img src="/img/annie-spratt.jpg" alt="#" class="img-fluid">
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" id="ck1b">
                <label class="custom-control-label" for="ck1b">
                    <img src="/img/luca-bravo.jpg" alt="#" class="img-fluid">
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" id="ck1c">
                <label class="custom-control-label" for="ck1c">
                    <img src="/img/muneeb-syed.jpg" alt="#" class="img-fluid">
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="custom-control custom-checkbox image-checkbox">
                <input type="checkbox" class="custom-control-input" id="ck1d">
                <label class="custom-control-label" for="ck1d">
                    <img src="/img/vladimir-kudinov.jpg" alt="#" class="img-fluid">
                </label>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/prism.min.js" data-manual></script>
    <script src="/scripts/source.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>